body {
  background-image: url('../image/fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.topnav {
  background-color: rgba(150, 92, 0, 0.5); /* 50% прозорість */
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px 0;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.topnav a:hover {
  background-color: rgba(150, 92, 0, 0.7); /* трохи менш прозорий на hover */
  border-radius: 5px;
}

.c {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.c .div {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.c .view {
  position: absolute;
  width: 1820px;
  height: 880px;
  top: 150px;
  left: 50px;
  background-color: #ffffff47;
}

.c .frame {
  position: absolute;
  width: 404px;
  height: 880px;
  top: 0;
  left: 0;
  background-color: #347ab23d;
}

.c .view-2 {
  position: relative;
  width: 397px;
  height: 755px;
  top: 60px;
  left: 5px;
}

.c .text-wrapper {
  width: 296px;
  top: 167px;
  left: 49px;
  font-size: 32px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.c .koledzh-emblema {
  position: absolute;
  width: 395px;
  height: 130px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.c .view-6 {
  position: absolute;
  width: 1305px;
  height: 731px;
  top: 93px;
  left: 440px;
}

.c .text-large {
  font-size: 32px;
}

.c .text-color {
  color: #000000;
}

.c .text-style {
  font-family: "Inria Serif-Regular";
  width: 630px;
  top: 378px;
}

.c .bold {
  font-family: "Inra Serif-Regular";
  font-size: 32px;
  font-weight: bold;
}

.c .text-wrapper-7 {
  position: absolute;
  width: 630px;
  top: 378px;
  left: 671px;
  font-family: "Inria Serif-Regular";
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.c .image {
  position: absolute;
  width: 510px;
  height: 340px;
  top: 0;
  left: 731px;
  object-fit: cover;
}

.c .img {
  position: absolute;
  width: 594px;
  height: 340px;
  top: 391px;
  left: 17px;
}

.contact-table {
  width: 90%;
  max-width: 800px;
  margin: 300px auto 20px auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.contact-table th,
.contact-table td {
  width: 1000px;
  border: 5px solid #dddddd;
  padding: 15px;
  text-align: left;
}

.contact-table th {
  background-color: rgba(150, 92, 0, 0.5);
  color: white;
  width: 200px;
}

.contact-table td {
  background-color: #fdf8f3;
}

.vertical-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.koledzh-emblema {
  width: 150px;
  height: auto;
}